<!DOCTYPE html>
<html lang="en">
<head>
 <title>CCP Focus Group Logs</title>
</head>
<body>
 <h1><a href="/">Focus Group Logs</a></h1>
 <h4>Logs of discussion between Focus Group members and CCP</h4>
 <p>{{ all_groups }}</p>
 <hr />
 {%- for group in groups %}
 <div class="group">
  <ul>
   <h2><a href="/{{ group.name }}/">{{ group.name.title() }}</a></h2>
   {%- for log in group.logs %}
   <li>
    <div class="focus_group_log">
     {%- if group.name == 'legacy' %}
     <a href="/{{ group.name }}/{{ log.name }}/">{{ log.name }} ({{ log.size }})</a>
     {%- else %}
     <a href="/{{ group.name }}/{{ log.date.strftime('%Y-%m-%d') }}/">{{ log.date.strftime('%B %-d, %Y') }} ({{ log.size }})</a>
     {%- endif %}
    </div>
   </li>
   {%- endfor %}
  </ul>
 </div>
 {%- endfor %}
<style type="text/css">
{{ css }}
ul{
  width: 30%;
  float: left;
  padding: 0.5em;
}
li a{
  display: block;
}
</style>
</body>
</html>
