<!DOCTYPE html>
<html lang="en">
<head>
 <title>CCP Focus Group Logs</title>
 <style type="text/css">
 {{ css }}
 ul{
   padding: 0.5em;
   color: #5c5c5c;
 }
 li a{
   display: block;
 }
 ul.hidden{
   display: none;
 }
 div.group{
   width: 48%;
   float: left;
 }
 .toggle{
   clear: left;
   font-size: 0.85em;
   padding-top: 0.5em;
   cursor: pointer;
 }
 </style>
 <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
 <h1><a href="/">Focus Group Logs</a></h1>
 <h4>Logs of discussion between Focus Group members and CCP</h4>
 <p>{{ all_groups }}</p>
 <hr />
 {%- for group in groups %}
 <div class="group">
  <h2>{{ group.name.title() }}</h2>
  {%- set current_month = None %}
  {%- for log in group.logs %}
  {%- if current_month == None %}
  {%- set current_month = log.date.month %}
  <p class="toggle">[-] {{ log.date.strftime('%B %Y') }}</p>
  <ul class="month">
  {%- elif current_month != log.date.month %}
  {%- set current_month = log.date.month %}
  </ul>
  <p class="toggle">[+] {{ log.date.strftime('%B %Y') }}</p>
  <ul class="month hidden">
  {%- endif %}
   <li><a href="/{{ group.name }}/{{ log.date.strftime('%Y-%m-%d') }}/">{{ log.date.strftime('%B %-d, %Y') }} ({{ log.size }})</a></li>
  {%- endfor %}
  </ul>
 </div>
 {%- endfor %}
<script>
$(".toggle").each(function() {
  $(this).click(function () {
    if ($(this).next(".month").is(":hidden") ) {
      $(this).next(".month").slideDown("slow", function() {
        this.previousElementSibling.textContent = this.previousElementSibling.textContent.replace('[+]','[-]');
    });
    } else {
      $(this).next(".month").slideUp("slow", function() {
        this.previousElementSibling.textContent = this.previousElementSibling.textContent.replace('[-]','[+]');
      });
    }
  });
});
</script>
</body>
</html>
