body{
  width: 90%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 3em;
}
h1{
  display: block;
  text-align: center;
  color: #5C5C5C;
  font-size:4em;
  font-family: Helvetica, Verdana, sans-serif;
}
h2{
  display: block;
  text-align: center;
  padding: 0;
  color: #5C5C5C;
  font-size:2em;
  font-family: Helvetica, Verdana, sans-serif;
}
h4{
  color: #5C5C5C;
  font-size:0.75em;
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
  top: -3.25em;
  position: relative;
  margin: 0 auto;
}
a{
  color: inherit;
  text-decoration: none;
}
p{
  margin: 0;
  padding: 0.1em;
}
hr{
  border-color: #ccc;
  width: 75%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  font: 200 18px/1.4 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
li a:hover, div.log_message:hover{
  background: #f6f6f6;
}
div.ccp_message{
  color: blue;
}
div.selected{
  background: #f6f6f6;
}
